/* =================================================

1 - Imported Fonts

================================================= */


/* Menu */

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* Main Heading & model names */

@import url("https://use.typekit.net/sjv5wvc.css");

/* Content */

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* Price Tags */

@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');

/* Buttons */

@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

/* =================================================

2 - Global Properties

================================================= */

* {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 16px;
}

body {
    margin: auto;
    min-width: 640px;
    background-image: linear-gradient(to top, hsl(220, 60%, 15%) 0%, hsl(200, 80%, 25%) 85%);
    background-attachment: fixed;
    background-size: cover;
    overflow-x: auto;
}

h1 {
    font-family: co-headline, sans-serif;
    font-weight: 300;
    font-size: 2.3rem;
    text-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.2);
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}

h1,
h2 {
    margin-bottom: 20px;
}

a {
    color: #ffcc55;
    text-decoration: none;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 140px;
    z-index: 5;
    background-color: hsl(200, 80%, 25%);
}

header img {
    height: 100px;
    width: 200px;
    background-color: #ff7700;
    position: relative;
    top: 20px;
    left: 50px;
}

nav {
    font-family: 'Lato', sans-serif;
    position: relative;
    top: 100px;
    right: 30%;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li {
    list-style: none;
}

nav li:nth-child(-n+2) {
    margin-right: 2rem;
}


/* =================================================

3 - Element-Specific Properties

================================================= */

#content {
    position: absolute;
    top: 140px;
    z-index: 1;
    margin: 0 50px;
}

#content ul {
    padding-left: 20px;
}

#content p,
#content ul {
    font-family: 'Raleway', sans-serif;
}

#buy {
    display: grid;
    grid-template-rows: 40px 550px;
    grid-template-columns: repeat(3, 350px);
    column-gap: 10px;
}

.buy-title {
    grid-row: 1;
}

.model-1,
.model-2,
.model-3 {
    grid-row: 2;
}

.model {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 550px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.img-container {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px 0;
    background-image: radial-gradient(#999, #000);
    border-radius: 5px 5px 0 0;
}

.model-name {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    padding: 5px 0;
    font-family: co-headline, sans-serif;
    background-color: #ff7700;
}

.price {
    width: 100%;
    color: #ff0000;
    padding: 10px 0;
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 3rem;
}

.description li {
    color: #000;
    line-height: 2rem;
}

.cta-btn {
    margin-top: 30px;
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
    appearance: none;
    border: none;
    outline: none;
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
    background-color: #ff7700;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-size: 1.2rem;
}

#buy,
#subscribe {
    margin: 20px 0 100px 0;
}

#video {
    margin: 20px auto;
    border: none;
    box-shadow: 0px 5px 10px hsl(0, 0%, 5%);
}

#email,
#submit {
    display: inline-block;
    margin: 0;
    border-style: none;
    outline: none;
    appearance: none;
}

#email {
    height: 32px;
    width: 240px;
    padding-left: 10px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #ffcc55;
    box-shadow: inset 0 5px 15px hsl(0, 0%, 80%);
    color: #550000
}

#submit {
    height: 34px;
    width: 120px;
    border-radius: 0 10px 10px 0;
    background-image: linear-gradient(to top, hsl(42, 100%, 55%), hsl(42, 100%, 67%));
    font-family: 'Karla', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: hsl(42, 80%, 20%);
}

#submit:active {
    background-image: linear-gradient(to bottom, hsl(42, 100%, 55%), hsl(42, 100%, 67%));
}


/* =================================================

4 - Media Queries

================================================= */

@media screen and (max-width: 850px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 170px;
    }
    header img {
        position: relative;
        left: 0;
    }
    nav {
        position: relative;
        top: 35px;
        right: 0;
    }
    h1 {
        text-align: center;
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    #content {
        top: 170px;
    }
    #content p,
    #content li {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1195px) {
    #buy {
        display: flex;
        flex-direction: column;
    }
    .model {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 295px 275px;
        grid-template-rows: 164px 30px 156px;
        width: 590px;
        height: 350px;
    }
    .img-container {
        border-radius: 5px 0 0 0;
    }
    .model-name {
        padding: 2px 0;
    }
    .price {
        box-sizing: border-box;
        height: 156px;
        padding-top: 54px;
        background-color: #ffcc55;
        border-radius: 0 0 0 5px;
    }
    .model img,
    .model-name,
    .price {
        grid-column: 1;
    }
    .description {
        grid-row: 1;
        padding-top: 20px;
    }
    .cta-btn {
        margin-top: 0;
    }
    .description,
    .cta-btn {
        grid-column: 2;
        margin: auto;
    }
}