/* =================================================

1 - Imported Fonts

================================================= */


/* =================================================

2 - Global Properties

================================================= */

* {
    margin: 0;
    padding: 0;
    color: white;
}

html {
    height: 100%;
}

body {
    margin: auto;
    min-width: 320px;
    background-image: linear-gradient(to top, hsl(220, 58%, 15%) 0%, hsl(220, 57%, 25%) 100%);
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

header img {
    position: fixed;
    left: 20px;
    top: 5%;
}

nav {
    position: fixed;
    right: 20%;
    top: 10%;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li {
    list-style: none;
    margin-right: 2rem;
}


/* =================================================

3 - Element-Specific Properties

================================================= */


/* =================================================

4 - Media Queries

================================================= */