/* =================================================

1 - Imported Fonts

================================================= */


/* =================================================

2 - Global Properties

================================================= */

* {
    margin: 0;
    padding: 0;
    color: white;
}

html {
    /*height: 100%;*/
}

body {
    margin: auto;
    /*height: 100%;*/
    min-width: 320px;
    background-image: linear-gradient(to top, hsl(220, 40%, 15%) 0%, hsl(220, 40%, 25%) 100%);
}

h1,
h2 {
    margin-bottom: 20px;
}

a {
    color: #ffcc55;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

header img {
    position: fixed;
    left: 20px;
    top: 5%;
}

nav {
    position: fixed;
    right: 20%;
    top: 5%;
    z-index: 2;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li {
    list-style: none;
}

nav li:nth-child(-n+2) {
    margin-right: 2rem;
}


/* =================================================

3 - Element-Specific Properties

================================================= */

.model {
    display: inline-block;
    width: 350px;
    height: 550px;
    background-color: #fff;
    border-radius: 5px;
}

#content {
    margin: 0 50px;
}

#buy,
#subscribe {
    margin-top: 20px;
}

#video {
    margin: 20px auto;
    border: none;
    box-shadow: 0px 5px 10px hsl(0, 0%, 5%);
}


/* =================================================

4 - Media Queries

================================================= */