/* =============================

1 - Imported Fonts

============================= */


/* Title */

@import url("https://fonts.googleapis.com/css?family=Oleo+Script&display=swap");

/* Form */

@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:200&display=swap");

/* =============================

2 - General Properties

============================= */

body {
    margin: 0;
    min-width: 320px;
    background-image: linear-gradient(45deg, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

body,
select {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
}

body,
select,
form {
    color: #040439;
}

header {
    text-align: center;
    line-height: 0.5;
    color: #ffffff;
}

h1 {
    font-family: "Oleo Script", cursive;
    font-size: 4rem;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 420px;
    margin: 1rem;
    padding: 0 2rem 2rem 2rem;
    background-color: hsla(0, 0%, 100%, 0.5);
    border-radius: 5px;
    box-shadow: 0 10px 10px 5px hsla(0, 0%, 20%, 0.1);
}

select {
    font-size: 0.9rem;
}

textarea {
    resize: none;
}


/* =============================

3 - Element-specific Properties

============================= */

.header div {
    display: flex;
    align-items: center;
    width: auto;
    margin-bottom: 10px;
    padding: 1px 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 10px 10px 10px;
    box-shadow: 0 5px 5px 2px hsla(0, 0%, 40%, 0.1);
}

.header img {
    margin-right: 5px;
}

.form-block {
    text-align: left;
    line-height: 1.8rem;
    margin-bottom: 10px;
}

.form-block-title {
    font-weight: normal;
    line-height: 1rem;
    color: #191970;
}

.basic-info {
    display: block;
    margin-bottom: 5px;
}

.form-elt {
    display: flex;
    align-items: center;
}

.form-field {
    width: 98%;
    height: 1.5rem;
    padding-left: 5px;
    font-size: 1rem;
    font-weight: lighter;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-image-source: linear-gradient(to right, hsla(0, 100%, 80%, 0.7), hsla(240, 100%, 71%, 0.7));
    border-image-width: 1px;
    border-image-slice: 0 0 1 0;
    border-image-outset: 1;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#description {
    color: #191970;
}

#dropdown {
    width: 100%;
    height: 2rem;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 10px;
    background-color: white;
}

#comments {
    margin-bottom: 20px;
    padding-left: 5px;
    border: 1px solid transparent;
}