/* =================================================

1 - Imported Fonts

================================================= */


/* =================================================

2 - General properties

================================================= */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 12px;
}

body {
    min-width: 720px;
}


/* =================================================

3 - Element-specific properties

================================================= */


/* =================================================

4 - Media Queries

================================================= */