/* =================================================
1 - Imported Fonts
================================================= */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* =================================================
2 - Global Properties
================================================= */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
    min-width: 690px;
    min-height: 490px;
}

/* =================================================
3 - Element-Specific Properties
================================================= */

#quote-box {
	position: relative;
	top: 120px;
	width: 640px;
	margin: auto;
	display: grid;
	grid-template-columns: 170px 300px 170px;
	grid-template-rows: 200px 60px 60px;
	grid-template-areas: 
		"quote quote quote"
		". . author"
		"new-quote-wrapper . tweet-quote-wrapper";
	background-color: white;
	border-radius: 30px;
	box-shadow: 0 30px 30px rgba(0,0,0,.2);
}

#text {
	grid-area: quote;
	display: flex;
	align-items: center;
    margin: 0 30px;
    font-family: 'EB Garamond', serif;
	font-size: 1.4rem;
    text-align: center;
}

#author {
    grid-area: author;
    font-family: 'Lora', serif;
	font-size: 0.8rem;
}

.wrapper {
	display: flex;
}

#new-quote-wrapper {
	grid-area: new-quote-wrapper;
	justify-content: flex-end;
}

#new-quote, #tweet-quote {
	height: 20px;
}

#tweet-quote-wrapper {
	grid-area: tweet-quote-wrapper;
	justify-content: flex-start;
}