/* =================================================
1 - Imported Fonts
================================================= */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* =================================================
2 - Global Properties
================================================= */

* {
    margin: 0;
    padding: 0;
}

html, body {
	height: 100%;
}

body {
    min-width: 690px;
    min-height: 490px;
}

a {
	text-decoration: none;
}

button {
	border: none;
	color: white;
	padding: 5px 10px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	background-image: linear-gradient(hsla(0, 0%, 100%, .25), hsla(0, 0%, 0%, 0));
	font-size: 0.7em;
}

button img {
	margin-right: 5px;
}

button:focus {
	outline: none;
}

/* =================================================
3 - Element-Specific Properties
================================================= */

#quote-box {
	position: relative;
	top: 120px;
	width: 640px;
	margin: auto;
	display: grid;
	grid-template-columns: 200px 270px 170px;
	grid-template-rows: 200px 60px 60px;
	grid-template-areas: 
		"quote quote quote"
		". author author"
		"new-quote-wrapper . tweet-quote-wrapper";
	background-color: white;
	border-radius: 30px;
	box-shadow: 0 30px 30px rgba(0,0,0,.2);
}

#text {
	grid-area: quote;
	display: flex;
	align-items: center;
    margin: 0 30px;
    font-family: 'EB Garamond', serif;
	text-align: center;
}

#author {
	grid-area: author;
	display: flex;
	justify-content: flex-end;
	margin-right: 30px;
    font-family: 'Lora', serif;
	font-size: 1rem;
}

.wrapper {
	display: flex;
}

#new-quote-wrapper {
	grid-area: new-quote-wrapper;
	justify-content: flex-end;
}

#new-quote {
	height: 26px;
}

#tweet-quote-wrapper {
	grid-area: tweet-quote-wrapper;
	justify-content: flex-start;
}