/* =================================================
1 - Imported Fonts
================================================= */


/* =================================================
2 - Global Properties
================================================= */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
    min-width: 690px;
    min-height: 490px;
}

/* =================================================
3 - Element-Specific Properties
================================================= */

.quote-box {
    background-color: white;
    position: relative;
    top: 120px;
    margin: auto;

    display: grid;
    grid-template-columns: 170px 200px 170px;
    grid-template-rows: 160px 60px 100px;
    gap: 0px 0px;
    grid-template-areas:
    "quote quote quote"
    "author author author"
    "new-quote . tweet-quote";
}

.author { 
    grid-area: author; 
}

.text { 
    grid-area: quote; 
}

.new-quote { 
    grid-area: new-quote; 
}

.tweet-quote { 
    grid-area: tweet-quote; 
}

/*#text {
    position: relative;
    top: 30px;
    margin: 30px;
}

#author {
    position: relative;
    top: 30px;
    margin-right: 50px;
    text-align: right;
}

#buttons {
    position:fixed;
    top: 400px;
    width: 640px;
    display: flex;
    justify-content: space-around;
}*/